*{
    background-color: rgb(242, 244, 246);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
header{
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 4%;
    transition: all .50s ease;
    box-shadow: 0 2px 6px #b0afaf;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 60px;
    margin-right: 3px;
    /* box-shadow: 0 1px 4px #578096; */
}
.logo img:hover{
    box-shadow: 0 1px 15px  #578096;
}
.navbar{
    display: flex;
}
.navbar a{
    color: black;
    font-size: 17.7px;
    font-weight: 545;
    padding: 10px 0;
    margin: 0 10px;
    transition: all .3s ease;
}
.navbar a:hover{
    color: rgb(61, 157, 201);
}
/* .navbar a.active{
    color: rgb(61, 157, 201);
    border-bottom: 5px solid rgb(80, 129, 154);
    width: 100%;
    border-radius: 5px;
    transition: 0.5s ease;
} */
.main{
    display: flex;
    align-items: center;
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: black;
    font-size: 17.5px;
    font-weight: 550;
    transition: all .50s ease;
}
.user{
    display: flex;
    align-items: center;
}
.user i{
    color: rgb(73, 159, 199);
    font-size: 28px;
    margin-right: 7px;
}
.user:hover{
    color: rgb(71, 167, 212);
}
.user2{
    border: 1.5px solid rgb(52, 205, 232);
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0 5px 3px #b0afaf;
}
.user2:hover{
    background-color: rgb(161, 218, 230);
}
.user2:active{
    background-color: #3e778e58;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#menu-icon{
    font-size: 35px;
    color: black;
    background-color: rgb(249, 247, 247);
    cursor: pointer;
    z-index: 1;
    display: none;
}
@media (max-width: 1280px){
    header{
        padding: 14px;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}
@media (max-width: 1090px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 30%;
        height: 29vh;
        /* background: rgb(223, 218, 218); */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    .navbar a{
        display: block;
        margin: 20px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
   .navbar a:hover{
        color: rgb(66, 86, 97);
        transform: translateY(5px);
    }
    .navbar.open{
       right: 2%;
    } 
}
.about{
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 5%;
}
.about-img{
    display: flex;
    margin-left: 10%;
}
.about-img img{
    width: 500px;
}
.about-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 2%;
}
.about-text h3{
    color: rgb(67, 109, 130);
    font-size: 20px;
}
.about-text h1{
    width: 80%;
    font-size: 40px;
    color: black;
}
.about-text p{
    width: 70%;
    font-size: 18px;
    margin: 1rem 0 2rem;
}
@media screen and (max-width: 720px){
    .about{
        width: 100%;
        min-height: 10vh;
        flex-direction: column-reverse;
    }
    .about-text{
        margin-left: 20%;
    }
    .about-img img{
        width: 80%;
    }
}
/* VALUE PROPORTION */
.value{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.value h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600; 
  }
.line{
    width: 8%;
    height: 4px;
    background: rgb(80, 129, 154);
    border-radius: 10px 20px;
    margin: 0.8% auto;
}
.lists{
    display: flex;
    flex-direction: row;
}
.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-width: 100%; */
    height: 180px;
    width: 180px;
    margin:  5% 5% 100% 13.5%;
    background-color:  rgb(80, 129, 154);
    border-radius: 50%;
    box-shadow: 0 0 10px 15px  rgb(80, 129, 154); 
}
.text{
    color: #fff;
    font-weight: bold;
    font-size: 130%;
    text-align: center;
    position: relative;
    background-color:  rgb(80, 129, 154);
    font-family: cursive;
}
.detail{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.para{
    margin-top: -98%;
    padding: 35px;
    width: 30.5%;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: 80%;
    line-height: 30px;
    color: rgb(75, 75, 73);
}
@media screen and (max-width: 720px){
    .line{
        width: 20%;
        margin: 2% auto;
    }
    .lists{
        margin-top: 5%;
    }
    .circle{
        height: 130px;
        width: 130px;
        margin:  5% 5% 100% 10%;
    }
    .para{
        margin-top: -95%;
        margin-left: 5%;
        padding: 10px;
        width: 50%;
    }
}