*{
    background-color: rgb(242, 244, 246);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
header{
    position: fixed;
    width: 100%;
    top:0;
    bottom: 635px;
    right: 10px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 4%;
    transition: all .50s ease;
    box-shadow: 0 2px 6px #b0afaf;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 60px;
    margin-right: 30px;
    /* box-shadow: 0 1px 4px #578096; */
}
.logo img:hover{
    box-shadow: 0 1px 15px  #578096;
}
.navbar{
    display: flex;
}
.navbar a{
    color: black;
    font-size: 17.7px;
    font-weight: 545;
    padding: 10px 0;
    margin: 0 10px;
    transition: all .3s ease;
}
.navbar a:hover{
    color: rgb(61, 157, 201);
}
/* .navbar a.active{
    color: rgb(61, 157, 201);
    border-bottom: 5px solid rgb(80, 129, 154);
    width: 100%;
    border-radius: 5px;
    transition: 0.5s ease;
} */
.main{
    display: flex;
    align-items: center;
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: black;
    font-size: 17.5px;
    font-weight: 550;
    transition: all .50s ease;
}
.user{
    display: flex;
    align-items: center;
}
.user i{
    color: rgb(73, 159, 199);
    font-size: 28px;
    margin-right: 7px;
}
.user:hover{
    color: rgb(71, 167, 212);
}
.user2{
    border: 1.5px solid rgb(52, 205, 232);
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0 5px 3px #b0afaf;
}
.user2:hover{
    background-color: rgb(161, 218, 230);
}
.user2:active{
    background-color: #3e778e58;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#menu-icon{
    font-size: 35px;
    color: black;
    background-color: rgb(249, 247, 247);
    cursor: pointer;
    z-index: 10001;
    display: none;
}
@media (max-width: 1280px){
    header{
        padding: 14px;
        transition: .2s;
        margin-top: 7%;
        
        margin-bottom:90%;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}
@media (max-width: 1090px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 250px;
        height: 29vh;
        /* background: rgb(223, 218, 218); */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    .navbar a{
        display: block;
        margin: 20px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
   .navbar a:hover{
        color: rgb(66, 86, 97);
        transform: translateY(5px);
    }
    .navbar.open{
       right: 2%;
    } 
}
.container{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.text{
    font-size:60px;
    font-weight: 700;
    color:rgb(21, 21, 21);
    margin-bottom: 150%;
    margin:170px;
    font-family:sans-serif;
    display:flex;
}
.image{
    display:flex;
    
    margin-top: 1%;
    height:400px;
    width:420px; 
}
.flex-container{
    display:flex;
    
    
}
p{
    height:30px;
}
/* .fa-google{
    font-size:20px;
}
.fa-facebook{
    font-size:20px;
} */
.title{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    column-gap: 1.6 rem;
    background-color: white;
    font-size: 100%;
}
.title::before, .title::after {
    content:"";
    height:1px;
    background-color:#000;
    display:block;
}
form{
    width: 425px;
    height:500px;
    background-color: white;
    align-items: center;
    transform: translate(-50%, -50%);
    margin-top: -25%;
    margin-left: 75%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(248, 245, 248, 0.944);
   box-shadow: 0 0 40px rgba(194, 196, 198, 0.653); 
    padding : 50px 35px;
    color: #0b0a0a;
}
form  * {
    border: 5;
    outline: 0;
    background-color: white;
}
input {
    display: block;
   
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 8px;
    padding: 0 10px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
}


/* ::placeholder {
    color: white; */
/* } */
button {
    width: 100%;
    margin-top: 30px;
    background-color: #23c3e7;
    color: #f3f3f6;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(81, 233, 250);
    border:0;
}
form .options {
    display: flex;
    margin-top: 20px;
    background-color: white;
}
 form .options div {
    width: 200px;
    border-radius:15px;
    padding: 10px 12px 12px 10px;
    text-align: center;
    cursor: pointer;
    color: white;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 20px;
    background-color: #23c3e7;
}
form .options img{
    background-color: #23c3e7;
    
}
form .options div:last-child {
    margin-left: 20px;
    font-weight: bold;
}
/* media query */

@media(max-width: 720px){
.container{ 
        background: #41b2eb;
    }
    .text{
        color:white;
        
        text-align: center;
        margin-bottom:85%;
    }
    .img{
        display:none;

    }
    form{
        width: 425px;
        height:580px;
        
        margin-inline: -8%;
        margin-top: 8%;
        margin-left: 55%;
    }
}